.title {
  color: var(--title-beige);
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: var(--machine);
}

.todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

@media screen and (max-width: 1090px) {
  .title {
    font-size: 2.5rem;
  }

  .todos-container {
    width: 90%;
    margin-bottom: 4rem;
  }
}