.modal__backdrop {
  background-color: #2c2c2c98;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  backdrop-filter: blur(0.0625rem);
}

.modal {
  position: absolute;
  max-width: 75%;
  min-width: 40%;
  background-color: transparent;
  border-radius: 0.5rem;
}