@import "@vars";

#app {
  display: flex;
  justify-content: center;
  min-height: 84vh;
  padding: 3rem;
}

.subtitle {
  color: var(--subtitle-beige);
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  font-family: var(--machine);
}
