@import "@vars";

.create-todo-textarea {
  background-color: var(--title-beige);
  border: 2px solid var(--title-beige);
  resize: none;
  margin-top: 1rem;
  height: 12rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family: var(--handwrited);
  width: 348px;
}

.create-todo-textarea:focus {
  border: 2px solid var(--form-beige);
  outline: none !important;
}

@media screen and (max-width: 1024px) {
  .create-todo-textarea {
    width: 100%;
    margin: 0;
    box-sizing: border-box
  };
}